<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/blogHead.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <form class="mt-20" >
        <% if (!user) { %>
            <h1 class=" text-center text-3xl font-bold"> COMPENDIUM.</h1>
        <% } else if (user.name == blog.author){ %>
            <h1 class="bg-green-400 text-center text-lg font-bold w-full"> Update Compendium.</h1>
        <% } else if (user.nam == 'admin') { %>
            <h1 class=" text-center text-3xl font-bold"> COMPENDIUM.</h1>
        <% } %>
        <div class="w-full h-ht7 px-4 pb-4 border-green-500 flex flex-col py-5">
            <div class="w-full h-full m-auto bg-slate-200 px-4 py-5 border-red-300 mx-auto rounded-lg shadow-lg">
                <div class=" flex flex-col space-y-2">

                    <div>
                        <% if (!user) { %>
                            <p></p>
                        <% } else{%> 
                            <input type="text" name="id" id="id" value="<%= blog._id%>" class="hidden" disabled>
                        <% } %> %>
                       
                    </div>

                    <% if (!user) { %>
                        <h2 class="w-full text-center text-2xl font-bold uppercase bg-slate-200"> <%= blog.title%></h2>
                    <% } else if (user.role == 'member') { %>
                        <h2> <input type="text" name="title" id="title" value="<%= blog.title%>" class="w-full text-center text-2xl font-bold uppercase bg-slate-200"></h2>

                    <% } else if (user.role == 'admin') { %>
                        <h2 class="w-full text-center text-2xl font-bold uppercase bg-slate-200"> <%= blog.title%></h2>
                    <% } %>

                   
                    <% if (!user) { %>
                        <h2 class="w-full text-lg font-semibold bg-slate-200"> <%= blog.snippet%></h2>
                    <% } else if (user.role == 'member') { %>
                        <p> <input type="text" name="snippet" id="snippet" value="<%= blog.snippet%>" class="w-full text-lg font-semibold bg-slate-200"></p>
                    <% } else if (user.role == 'admin') { %>
                        <h2 class="w-full text-lg font-semibold bg-slate-200"> <%= blog.snippet%></h2>
                    <% } %>
                    
            
                    <% if (!user) { %>
                        <p class="w-full h-full bg-slate-200" ><%= blog.body%></p>
                    <% } else if (user.role == 'member') { %>
                        <p> <textarea name="body" id="body" class="w-full h-full bg-slate-200" ><%= blog.body%></textarea></p>
                    <% } else if (user.role == 'admin') { %>
                        <p class="w-full h-full bg-slate-200" ><%= blog.body%></p>
                    <% } %>

                    
                    <% if (!user) { %>
                        <p class=" border-red-500 justify-end"><span class="font-bold">Author: </span> <%= blog.author%></p>
                    <% }%>
                        

                    <% if (user) {%>
                        <div class="flex flex-col space-y-2">
                            <p> <span class="font-bold">Status:</span> <input type="text" name="status" id="status" value="<%= blog.status%>" class="bg-slate-200" disabled></p>
                            <p> <span class="font-bold">Author:</span> <input type="text" name="author" id="author" value="<%= blog.author%>" class="bg-slate-200" disabled></p>    
                        </div>
                        <%} %>
                </div>
               
            </div>
            <% if (!user) { %>
                <h2 class="w-full text-lg font-bold uppercase bg-slate-200 hidden"> <%= blog.snippet%></h2>
            <% } else if (user.role == 'member' && user.name != blog.author) { %>
                <p> <textarea name="body" id="body" class="w-full h-full bg-slate-200 hidden" ><%= blog.body%></textarea></p>
            <% }else if ( user.name == blog.author) { %>
                <div class="mt-5 flex justify-around border-red-500 ">
                    <div class=" w-fit border-red-500 bg-blue-700 px-2 py-1 rounded-md shadow-lg text-white">
                        <input type="submit" value="Update">
                    </div>
                    <div class=" w-fit border-red-500 bg-red-700 text-white px-2 py-1 rounded-md shadow-lg">
                        <a class="delete" data-doc="<%=blog._id%>" >Delete</a>
                    </div>
                </div>
                        
                
            <% } %>
        </div>
        
    </form>


   
    


    <%- include('./partials/footer.ejs') %>

    <script>
       


        //Update Blog
    const form = document.querySelector('form')


    form.addEventListener('submit', async (e) => {
        e.preventDefault(); // Prevent default form submission

        try{
            const id = form.id.value;
            const title = form.title.value;
            const snippet = form.snippet.value;
            const body = form.body.value;
            const status = form.status.value;
            const author = form.author.value;


            const res = await fetch(`/blogs`, {
                method:'PUT',
                body:JSON.stringify({
                    id,
                    title,
                    snippet,
                    body,
                    status,
                    author
                }),
                headers:{'Content-Type': 'application/json'
                }
            })

            const data = await res.json();

            console.log(data)
            window.location.assign('/')
            alert('Information updated successfully!')
        }catch(err){
            console.log(err)
        }
        
    });


        const trashCan = document.querySelector('a.delete')
       
                trashCan.addEventListener('click', (e)=>{
                    if (confirm("Are you sure you want to delete this Article?")) {
                        const endPoint = `/blogs/${trashCan.dataset.doc}`

                        fetch(endPoint, {
                            method:'DELETE'
                        }).then(response=>
                            response.json()
                        ).then(data=>
                        window.location.assign('/')
                        ).catch((err)=>{
                            console.log(err)
                        })

                        alert("Article Deleted Successfully")
                    }
                })
    </script>
</body>
</html>